/* Title icons */

.title-icon{
    margin-left: 1.5em;
    padding-left: 1em;
    position: relative;
}

.title-icon::before{
    content: '';
    display:block;
    position: absolute;
    right: 100%;
    top: 0;
    height: 1.5em;
    width: 1.5em;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

.title-icon.profile-icon::before{
    background-image: url('../ressources/img/user_white.png');
}