#nav_menu {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60vw;
    height: 100vh;
    padding: 0;
    overflow-x: hidden;
    z-index: 1;

    --nav-transition-1-dur: 0.4s;
    --nav-transition-2-dur: 0.02s;
}

#nav_menu input {
    display: none;
}


#nav_menu label {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 1.5em;
    margin: 5%;
    z-index: 2;
}


#nav_menu label img {
    height: 100%;
}

#nav_menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(21, 24, 45, 0.7);
    z-index: 1;
    transform: translateX(100%);
}

#nav_menu input:checked~ul {
    transition: var(--nav-transition-1-dur) ease-out;
    transform: translateX(0);
}

#nav_menu li {
    position: relative;
    list-style-type: none;
    font-size: 1.25em;
    margin-left: 3em;

}

#nav_menu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 80%;
    clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 0);
}

#nav_menu input:checked~ul li a {
    transition: 0.8s ease-out;
    transition-delay: calc(var(--nav-transition-1-dur) + var(--nav-transition-2-dur));
    clip-path: polygon(-3em 0, -3em 100%, 100% 100%, 100% 0);
}

#nav_menu li::before {
    content: "//";
    position: absolute;
    /*right: calc(100% + 1em);*/
    right: 0;
    top: 0;
    display: block;
}

#nav_menu input:checked~ul li::before {
    transition: 0.6s ease-out;
    transition-delay: calc(var(--nav-transition-1-dur) + var(--nav-transition-2-dur));
    right: calc(100% + 1em);
}

#nav_menu li:hover::before {
    transition: 0.3s ease-out;
    transform: translateX(100%);
}