/* sheet */
@import url(./nav_menu.css);
@import url(./section/home_page.css);

@import url(./globals/text-style.css);

:root {
    --color-wh: white;
    --color-dark-white: #8585a1;
    --color-dark: #0c0c15;
}

body {
    margin: 0;
    background-color: var(--color-dark);
    color: var(--color-wh);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}