 #profile {
 	background-color: #B2AEAE;
 	color: #1a1717;
 	display: flex;
 	align-items: flex-start;
 }

 #profile > img{
	width: 1.5em;
	height: 1.5em;
	margin-top: 1.75em;
}

#profile h3{

   margin-top: 1em;
   font-size: 1.5em;
}

#profile .presentation{
	margin: 1em;
}


@media (min-width: 480px)
{
	/*pour pc*/


	#profile .presentation{
		margin: 4em;
		margin-top: 0;
	}	
}